<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav">

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let book of booksObjects" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{book.BookFullName}}
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-chip-list>
          <mat-chip *ngFor="let subbook of book.Subbooks" routerLink="/Book/{{subbook.Guid}}" (click)="selectSubbook(book, subbook)">
            {{subbook.BookName}}
          </mat-chip>
        </mat-chip-list>

      </mat-expansion-panel>

    </mat-accordion>


  </mat-sidenav>
  <div class="my-content">
    <mat-toolbar color="secondary">


      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="fill-remaining-space">

      </span>
      <!-- <span>
        <form>
          <mat-form-field floatPlaceholder="never">
            <input matInput placeholder="Szukaj">
          </mat-form-field>
        </form>
      </span> -->
    </mat-toolbar>

    <router-outlet></router-outlet>
 <mat-action-row>
    <!--<button mat-button color="warn" [disabled]="!selectedBook.PreviousBook">Poprzedni</button>-->
    <!--<button mat-button color="primary" [disabled]="!selectedBook.NextBook">Następny</button>-->
  </mat-action-row>
  </div>
</mat-sidenav-container>
