<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav">

    <mat-accordion class="example-headers-align" *ngIf="booksObjects">

      <mat-card>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Szukaj" [(ngModel)]="term">
          <button mat-button *ngIf="term" matSuffix mat-icon-button aria-label="Clear" (click)="term=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </mat-card>

      <mat-expansion-panel *ngFor="let book of booksObjects | filter:term" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{book.BookFullName}}
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-chip-list>
          <mat-chip *ngFor="let subbook of book.Subbooks" routerLink="/Book/{{subbook.Guid}}" selected="getChipSelected(subbook)" (click)="selectSubbook(book, subbook)" color="accent" class="set-margin">
            {{subbook.BookName}}
          </mat-chip>
        </mat-chip-list>

      </mat-expansion-panel>

    </mat-accordion>


  </mat-sidenav>
  <div class="my-content">
    <mat-toolbar color="secondary">


      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="fill-remaining-space">
      </span>
      <button mat-button routerLink="">
        Komentarze
      </button>
      <!-- <span>
        <form>
          <mat-form-field floatPlaceholder="never">
            <input matInput placeholder="Szukaj">
          </mat-form-field>
        </form>
      </span> -->
    </mat-toolbar>

    <router-outlet></router-outlet>
    <mat-action-row>
      <!--<button mat-button color="warn" [disabled]="!selectedBook.PreviousBook">Poprzedni</button>-->
      <!--<button mat-button color="primary" [disabled]="!selectedBook.NextBook">Następny</button>-->
    </mat-action-row>
  </div>
</mat-sidenav-container>
