:not(.mat-expanded) { padding-bottom :10px; padding-top :10px; }
.mat-expanded { padding-bottom :10px; padding-top :10px; }

div.header{
 padding: 0px;
}

div.header-title{
    padding: 0px;
    
   }

   div.header-description{
    padding: 0px;
    color: rgba(0, 0, 0, 0.54);
   }