<mat-card>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Tekst">
      <div *ngIf="selectedTabIndex == 0">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{book.BookFullName}}</mat-card-title>
            <mat-card-subtitle>{{book.BookName}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let passage of book.Passages">
              <p>
                <strong>{{passage.PassageNumber}}</strong> {{passage.PassageText}}
              </p>
              <div *ngIf="passage.Title2 && passage.Title2 !== ''">
                <h3 class="SegmentTitle2; color: #03a9f4;">{{passage.Title2}} </h3>
              </div>
              <div *ngIf="passage.Title1 && passage.Title1 !== ''">
                <h4 class="SegmentTitle1; color: #03a9f4;">{{passage.Title1}}</h4>
              </div>
              <div *ngIf="passage.Meantitle2 && passage.Meantitle2 !== ''">
                  <h4 class="SegmentMeanTitle1; color: #03a9f4;"> {{passage.Meantitle2}}</h4>
                </div>
              <div *ngIf="passage.Meantitle1 && passage.Meantitle1 !== ''">
                <h4 class="SegmentMeanTitle1; color: #03a9f4;"> {{passage.Meantitle1}}</h4>
              </div>

            </div>
          </mat-card-content>
          <mat-action-row>
            <button mat-button color="warn" [disabled]="book.PreviousBookGuid == '00000000-0000-0000-0000-000000000000'" routerLink="/Book/{{book.PreviousBookGuid}}">Poprzedni</button>
            <button mat-button color="primary" [disabled]="book.NextBookGuid == '00000000-0000-0000-0000-000000000000'" routerLink="/Book/{{book.NextBookGuid}}">Następny</button>
          </mat-action-row>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Komentarze">

      <div *ngIf="selectedTabIndex == 1">

        <!-- <mat-list>
          <mat-list-item *ngFor="let comment of book.Comments">
            <img matListAvatar src="https://img.youtube.com/vi/{{comment.Url}}/sddefault.jpg" alt="{{comment.Url}}">
            <a matLine href="https://img.youtube.com/vi/{{comment.Url}}/sddefault.jpg">
            </a>
            <h3 > {{comment.Title}} </h3>
            <p matLine>
              <span>{{book.BookName}} {{comment.StartIndex}}, {{comment.EndIndex}}</span>
            </p>
          </mat-list-item>
        </mat-list> -->

        <app-comment-section [book]="book"></app-comment-section>

      </div>

    </mat-tab>
    <mat-tab label="Dodaj komentarz">
      <div *ngIf="selectedTabIndex == 2" class="example-container">
        <mat-card>
          <div class='example-form'>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Tytuł" maxlength="100" [(ngModel)]="newComment.Title">
              <mat-hint align="end">{{newComment.Title.length}} / 100</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Url" maxlength="200" [(ngModel)]="newComment.Url">
              <mat-hint align="end">{{newComment.Url.length}} / 200</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Opis" maxlength="5000" [(ngModel)]="newComment.Text"></textarea>
              <mat-hint align="end">{{newComment.Text.length}} / 5000</mat-hint>
            </mat-form-field>

            <!-- <form> -->
            <div>Wersety: </div>
            <mat-form-field>
              <input matInput [disabled]='wholeBookComment' type="number" placeholder="Od" [(ngModel)]="newComment.StartIndex">
            </mat-form-field>

            <mat-form-field>
              <input matInput [disabled]='wholeBookComment' type="number" placeholder="Do" [(ngModel)]="newComment.EndIndex">
            </mat-form-field>

            <mat-checkbox [(ngModel)]="wholeBookComment">Cała księga</mat-checkbox>

          </div>
          <mat-action-row>
            <button mat-button color="warn" (click)="cleanComment()">Wyczyść</button>
            <button mat-button color="primary" (click)="addComment()">Dodaj komentarz</button>
          </mat-action-row>

        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-card>
